header{
    text-align: center;
}
body{
    margin: 0% 30% 0% 30%;
    background-image: url("corona-virus-vaccine.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#survey-form{
    position: relative;
    background-color: blueviolet;
    padding: 35px;
    border-radius: 1%;
    background-color: #6A9CDE;
    opacity: 0.8;
}
input{
    width: 100%;
    height: 10px;
}
#submit{
    width: 200px;
    height: 32px;;
}
#date{
    width: 200px;
}
.radio{
    width: 20px;
}
.checkbox{
    width: 20px;
}
fieldset{
    border: 0px;
    padding: 0px;
    margin: 0px;
}
#dropdown{
    height: 34px;
}
#date{
    height: 34px;
}